 # Calcul scientifique -- TP3 -- `numpy`

**Nom :DIAMOUTENE &nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&ensp; &emsp;    
**Prénom:ZANA &emsp;&emsp;

Attention: pour ce TP il s'agit d'utiliser numpy et ses fonctionnalités donc pas de bricoler avec des listes et des boucles.

**Il n'y aura pas de boucles dans ce TP**

### 1) Création de tableaux

Pour commencer, on importe la librairie  `numpy`

In [1]:
import numpy as np

Créer une variable numpy de type `array`, nommée `a` contenant les valeurs de 1 à 20 des 3 manières  différentes :

- a1: à partir d'un tableau python  t = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
- a2: en utilisant la fonction arange de numpy
- a3: en utilisant la fonction linspace de numpy

puis afficher le contenu et le type de `a1,a2,a3` pour les 3 méthodes. On doit obtenir le même tableau qu'on appellera ensuite a pour continuer l'exercice.

In [42]:
t = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

a1=np.array(t)
print('a1:',a1,'type :',type(a1));a1

a2=np.arange(1,21,1)
print('a2:',a2,'type :',type(a2));

# à compléter
a3=np.linspace(1,20,20)
print('a3:',a3,'type :',type(a3))
import numpy as np
import matplotlib.pyplot as plt

def dicho ( xmin , xmax , f , xtol ) :
    xm = ( xmin+xmax ) / 2
    while np.abs ( xmin-xmax)> xtol :
    xm = ( xmin+xmax ) / 2
    if (f(xmin)*f(xm))>0:
        xmax=xm
    else :
        xmin=xm
    return np.array ( [ xmin , xmax ] )


sol1 = dicho ( x1 , x2 , f , 1e −7)
print ( ’ solution ’ , np.mean ( sol1 ) , ’ f ( sol ) ’ , f ( np.mean ( sol ) ) )

SyntaxError: invalid decimal literal (3344507126.py, line 26)

Calculer puis afficher la somme des valeurs (en une ligne sans faire de boucles) :

In [3]:
# à compléter
t1=np.sum(t)
display((t1))

210

Créer un tableau de taille 20 qu'on appellera b qui contient  20 nombres aléatoires compris entre 1 et 9 inclus.
On utilisera pour cela la fonction `np.random.randint` du module numpy.

In [4]:
# à compléte
b=np.random.randint(1,10,20)
print(b)

[2 6 8 3 1 3 9 4 4 6 6 9 4 9 9 4 2 3 9 3]

Afficher les dimensions de l' `array` `a`, le nombre de valeurs selon chaque dimension (shape) ainsi que sa taille (nombre de valeurs) :

In [5]:
# à compléter
dim = np.array(t)
np.shape(t)

(20,)

En utilisant uniquement les opérateurs +, / et l'opérateur de tri de numpy (`np.sort()`) et la fonction np.sum(), calculer la moyenne ,  la mediane de `b`,ainsi que les valeurs min et max du tableau. (Ne pas utiliser de boucle).

In [6]:
# à compléter

moyenne_b = np.sum(b) / np.size(b)
print(moyenne_b)

b_sorted = np.sort(b)
display(b_sorted)
mediane_b = np.median(b_sorted)
display(mediane_b)

5.2

array([1, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 6, 6, 6, 8, 9, 9, 9, 9, 9])

4.0

Vérifier vos calculs en utilisant les fonctions numpy existantes.

In [7]:
# à compléter
moy=np.median(b)
ma=np.max(b)
mi=np.min(b)
print(moy)
print(ma)
print(mi)

4.0
9
1

Afficher le maximum et l'indice du premier maximum rencontré dans b
Afficher le minimum et l'indice du premier minmum rencontré dans b

In [8]:
# à compléter
print(np.max(b))
print(np.min(b))
print(b)
print(np.argmax(b))
print(np.argmin(b))

9
1
[2 6 8 3 1 3 9 4 4 6 6 9 4 9 9 4 2 3 9 3]
6
4

### 2) Opérations vectorisées

Calculer le tableau numpy qu'on appellera tab2 contenant le carré des valeurs de a, sans faire de boucle.

In [9]:
# à compléter
tab2=a1**2
print(a1)
print(tab2)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
[  1   4   9  16  25  36  49  64  81 100 121 144 169 196 225 256 289 324
 361 400]

Calculer le tableau tab contenant la somme terme à terme des éléments de a et de a2.

In [10]:
# à compléter
tab=a1+a2
print(a1)
print(a2)
print(tab)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
[ 2  4  6  8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40]

### 3) tableaux multi-dimensions de numpy

Créer un tableau a de taille 6x4 (6 lignes et 4 colonnes) rempli de valeurs aléatoires entières de 1 à 9 inclus. Vous utiliserez pour cela la fonction `np.random.randint` du module numpy.

Afficher son contenu. 

Le résultat attendu ressemble à ce qui suit, mais les valeurs dépendent bien sûr du tirage au sort :

[[5 1 7 2]\
 [9 3 5 3]\
 [4 9 2 4]\
 [3 2 5 1]\
 [6 2 6 1]\
 [5 5 9 8]]
 
 On fera ensuite afficher dimension, size et shape.

In [11]:
import numpy as np
# à compléter
b=np.random.randint(1,10,size=(6,4))
print(tab2)
size1=np.size(tab2)
print(size1)
shape1=np.shape(tab2)
print(shape1)
dim1=np.ndim(tab2)
print(dim1)

[  1   4   9  16  25  36  49  64  81 100 121 144 169 196 225 256 289 324
 361 400]
20
(20,)
1

#### a) Calculs

Créer une matrice de 3x4 contenant des entiers entre 1 et 9 inclus, puis calculer successivement :

    la somme de toutes les valeurs
    la somme de chacune des lignes
    la somme de chacune des colonnes
    la somme des cubes des valeurs

In [12]:
# à compléter
a=np.random.randint(1,10,size=(3,4))
print(a)

[[9 3 1 6]
 [1 1 6 1]
 [6 4 9 9]]

In [13]:
# à compléter
som=np.sum(a)
print(som)
moy=np.mean(moy)
print(moy)

56
4.0

In [14]:
# à compléter
som1=np.sum(a,axis=1)
print(som1)

[19  9 28]

In [15]:
# à compléter
som2=np.sum(a,axis=0)
print(som2)

[16  8 16 16]

In [16]:
# à compléter
cube=a**3
print(cube)
sommC=np.sum(cube)
print(sommC)
print(np.sum(a **3))
print(np.power(a,3))

[[729  27   1 216]
 [  1   1 216   1]
 [216  64 729 729]]
2930
2930
[[729  27   1 216]
 [  1   1 216   1]
 [216  64 729 729]]

Tester la commande
a>=5

En déduire le nombre de valeurs supérieures 5 et la somme des valeurs supérieures 5

In [17]:
# à compléter
# à compléter
print(a)
matr=a>=5
print(matr)

[[9 3 1 6]
 [1 1 6 1]
 [6 4 9 9]]
[[ True False False  True]
 [False False  True False]
 [ True False  True  True]]

In [18]:
# à compléter
print(np.sum(a>=5))

6

In [19]:
print( np.sum(a[a > 5]))

45

On notera $a_ij$ le contenu de la case (i,j) du tableau a.

Calculer le tableau b tel que $b_ij=a_ij^2+3a_ij -5$

In [20]:
# à compléter
b= a**2 + 3 * a - 5
print(b)

[[103  13  -1  49]
 [ -1  -1  49  -1]
 [ 49  23 103 103]]

#### b) Indexation

Afficher les valeurs de `tab (fin de la première partie) ` dont les **indices** sont pairs  (attention, les indices pas les valeurs). L'instruction doit être valable pour n'importe quel tableau à 1 dimension, quel que soit le nombre de valeurs.

In [21]:
# à compléter
valeurs = tab[::2]
print(valeurs)

[ 2  6 10 14 18 22 26 30 34 38]

Afficher la somme des valeurs de tab dont les **indices** sont pairs

In [22]:
# à compléter
somme_indices_pairs = np.sum(tab[::2])

#### c) Modifications dans un tableau
Créer un tableau `a` de taille 8x8 (8 lignes et 8 colonnes) rempli de valeurs aléatoires entières de 1 à 9 inclus. 

**Pour toutes les questions suivantes, nous travaillerons avec un tableau de taille 8x8  mais vos instructions devraient fonctionner pour un tableau de taille quelconque**

On fera un nouveau tableau par question pour mieux observer les résultats produits.



Au moyen du sélecteur approprié, remplacer toutes les valeurs du tableau par la valeur 0. Attention le nombre de lignes / colonnes doit être conservé. Afficher le résultat.
On doit remplacer les valeurs, pas créer un nouveau tableau.

In [23]:
import numpy as np
# à compléter
a = np.random.randint(1, 10, size=(8, 8))
a[:, :] = 0
print(a)

[[0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0]]

Créer un tableau `a` de taille  8x8 (8 lignes et 8 colonnes) rempli de valeurs aléatoires entières de 1 à 9 inclus,  puis mettre la première ligne du tableau à 0.

In [24]:
# à compléter
a=np.random.randint(1 , 10, size=(8, 8))
a[0, :] = 0
display(a)

array([[0, 0, 0, 0, 0, 0, 0, 0],
       [1, 5, 5, 7, 6, 1, 5, 1],
       [8, 9, 4, 2, 2, 8, 5, 7],
       [4, 3, 1, 5, 1, 7, 5, 1],
       [8, 9, 8, 6, 3, 1, 1, 5],
       [7, 8, 7, 2, 8, 8, 6, 4],
       [6, 5, 7, 1, 5, 3, 1, 2],
       [4, 4, 9, 8, 5, 8, 7, 4]])

Créer un tableau `a` de taille  8x8 (8 lignes et 8 colonnes) rempli de valeurs aléatoires entières de 1 à 9 inclus puis mettre la colonne numéro 2 du tableau à 0.

In [25]:
# à compléter
a=np.random.randint(1, 10, size=(8,8))
a[:, 1] = 0
display(a)

array([[4, 0, 1, 7, 5, 3, 4, 9],
       [2, 0, 1, 8, 5, 9, 8, 9],
       [2, 0, 4, 6, 6, 4, 1, 7],
       [1, 0, 1, 9, 2, 1, 3, 1],
       [9, 0, 7, 2, 1, 5, 1, 6],
       [1, 0, 5, 5, 8, 4, 4, 1],
       [6, 0, 9, 8, 1, 8, 7, 6],
       [2, 0, 1, 7, 7, 4, 5, 4]])

Créer un tableau `a` de taille  8x8 (8 lignes et 8 colonnes) rempli de valeurs aléatoires entières de 1 à 9 inclus,  puis mettre la première et la dernière colonne à 0 (en une seule instruction)

In [26]:
# à compléter
a=np.random.randint(1,10,size=(8,8))
a[:, [0, -1]] = 0
display(a)

array([[0, 2, 4, 4, 7, 3, 6, 0],
       [0, 2, 2, 2, 1, 6, 5, 0],
       [0, 2, 8, 9, 6, 2, 9, 0],
       [0, 2, 7, 5, 3, 9, 2, 0],
       [0, 6, 8, 7, 3, 3, 7, 0],
       [0, 3, 2, 1, 4, 5, 3, 0],
       [0, 5, 5, 2, 5, 3, 5, 0],
       [0, 8, 9, 9, 6, 3, 4, 0]])

Créer un tableau `a`de taille  8x8 (8 lignes et 8 colonnes) rempli de valeurs aléatoires entières de 1 à 9 inclus puis mettre les 9 cases de la partie supérieure gauche du tableau à 0 en une seule instruction.

In [27]:
# à compléter
a=np.random.randint(1,10,size=(8,8))
display(a)
a[:3, :3] = 0
display(a)

array([[9, 7, 7, 5, 8, 3, 3, 8],
       [1, 7, 6, 6, 7, 6, 8, 1],
       [2, 8, 5, 1, 5, 2, 8, 5],
       [5, 8, 7, 4, 6, 1, 1, 2],
       [9, 3, 7, 7, 1, 4, 5, 5],
       [6, 4, 8, 2, 6, 2, 9, 6],
       [2, 5, 2, 9, 1, 6, 6, 8],
       [4, 5, 5, 3, 1, 5, 8, 3]])

array([[0, 0, 0, 5, 8, 3, 3, 8],
       [0, 0, 0, 6, 7, 6, 8, 1],
       [0, 0, 0, 1, 5, 2, 8, 5],
       [5, 8, 7, 4, 6, 1, 1, 2],
       [9, 3, 7, 7, 1, 4, 5, 5],
       [6, 4, 8, 2, 6, 2, 9, 6],
       [2, 5, 2, 9, 1, 6, 6, 8],
       [4, 5, 5, 3, 1, 5, 8, 3]])

Créer un tableau `a` de taille  8x8 (8 lignes et 8 colonnes) rempli de valeurs aléatoires entières de 1 à 9 inclus puis mettre  les cases qui sont sur des lignes **et** des colonnes paires à 0.

In [28]:
# à compléter
a=np.random.randint(1,10,size=(8,8))
display(a)
a[::2, ::2] = 0
display(a)

array([[7, 9, 7, 1, 2, 3, 1, 6],
       [1, 7, 3, 1, 2, 6, 9, 8],
       [8, 6, 8, 7, 8, 2, 4, 1],
       [1, 8, 5, 2, 5, 8, 5, 2],
       [9, 1, 3, 1, 1, 3, 6, 6],
       [3, 6, 5, 1, 7, 6, 7, 8],
       [6, 8, 4, 9, 5, 5, 2, 4],
       [5, 5, 8, 8, 2, 6, 5, 4]])

array([[0, 9, 0, 1, 0, 3, 0, 6],
       [1, 7, 3, 1, 2, 6, 9, 8],
       [0, 6, 0, 7, 0, 2, 0, 1],
       [1, 8, 5, 2, 5, 8, 5, 2],
       [0, 1, 0, 1, 0, 3, 0, 6],
       [3, 6, 5, 1, 7, 6, 7, 8],
       [0, 8, 0, 9, 0, 5, 0, 4],
       [5, 5, 8, 8, 2, 6, 5, 4]])

Créer un tableau `a` de taille  8x8 (8 lignes et 8 colonnes) rempli de valeurs aléatoires entières de 1 à 9 inclus puis mettre les cases $[1,3]$ et $[3,2]$ à 0 (en une seule instruction).

In [29]:
# à compléter
a=np.random.randint(1,10,size=(8,8))
display(a)
a[[1, 3], [3, 2]] = 0
display(a)

array([[1, 3, 9, 3, 3, 6, 3, 6],
       [6, 9, 8, 6, 4, 9, 1, 4],
       [8, 1, 1, 2, 9, 1, 6, 3],
       [3, 4, 6, 5, 8, 3, 1, 2],
       [5, 9, 3, 6, 1, 8, 2, 4],
       [4, 5, 3, 1, 6, 1, 8, 6],
       [7, 9, 1, 7, 7, 9, 2, 5],
       [8, 3, 6, 5, 9, 5, 8, 4]])

array([[1, 3, 9, 3, 3, 6, 3, 6],
       [6, 9, 8, 0, 4, 9, 1, 4],
       [8, 1, 1, 2, 9, 1, 6, 3],
       [3, 4, 0, 5, 8, 3, 1, 2],
       [5, 9, 3, 6, 1, 8, 2, 4],
       [4, 5, 3, 1, 6, 1, 8, 6],
       [7, 9, 1, 7, 7, 9, 2, 5],
       [8, 3, 6, 5, 9, 5, 8, 4]])

Créer un tableau `a` de taille  8x8 (8 lignes et 8 colonnes) rempli de valeurs aléatoires entières de 1 à 9 inclus puis mettre à 0 toutes les lignes pour lesquelles le vecteur `vect= np.array([False, True, True, False,False, 'True',False, 'True'])` vaut `True` (en une seule instruction).

In [30]:
# à compléter
a=np.random.randint(1,10,size=(8,8))
display(a)
vect = np.array([False, True, True, False, False, True, False, True])
display(vect)
a[vect, :] = 0
display(a)

array([[2, 9, 9, 9, 7, 8, 5, 6],
       [6, 9, 4, 8, 9, 2, 8, 6],
       [9, 5, 1, 9, 3, 7, 5, 7],
       [8, 8, 4, 8, 4, 7, 9, 9],
       [4, 9, 4, 1, 2, 2, 9, 4],
       [7, 2, 7, 3, 1, 9, 3, 6],
       [4, 4, 4, 5, 6, 3, 5, 8],
       [6, 7, 2, 9, 8, 7, 5, 1]])

array([False,  True,  True, False, False,  True, False,  True])

array([[2, 9, 9, 9, 7, 8, 5, 6],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [8, 8, 4, 8, 4, 7, 9, 9],
       [4, 9, 4, 1, 2, 2, 9, 4],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [4, 4, 4, 5, 6, 3, 5, 8],
       [0, 0, 0, 0, 0, 0, 0, 0]])

A l'aide de la fonction np.ones,  créer un tableau carré de taille 7 ne contenant que des 1.
Puis en maximum deux lignes, faire un "damier" en remplaçant certains 1 par des 0 (voir résultat ci-dessous)

In [34]:
# à compléter
a = np.ones((7, 7), dtype=int)
display(a)
a[::2, 1::2] = 0 
display(a)
a[1::2, ::2] = 0 
display(a)

array([[1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1]])

array([[1, 0, 1, 0, 1, 0, 1],
       [1, 1, 1, 1, 1, 1, 1],
       [1, 0, 1, 0, 1, 0, 1],
       [1, 1, 1, 1, 1, 1, 1],
       [1, 0, 1, 0, 1, 0, 1],
       [1, 1, 1, 1, 1, 1, 1],
       [1, 0, 1, 0, 1, 0, 1]])

array([[1, 0, 1, 0, 1, 0, 1],
       [0, 1, 0, 1, 0, 1, 0],
       [1, 0, 1, 0, 1, 0, 1],
       [0, 1, 0, 1, 0, 1, 0],
       [1, 0, 1, 0, 1, 0, 1],
       [0, 1, 0, 1, 0, 1, 0],
       [1, 0, 1, 0, 1, 0, 1]])

### 4. Partage de  valeurs dans un tableau

#### a ) " Vues"   (extrait avec des slices)

Créer un tableau `a` de taille 4x4 rempli de valeurs aléatoires entières de 1 à 9 inclus que l'on nommera a.

Créer ensuite une vue (appelée `b`) de la matrice `a` correspondant aux sélecteurs précédents en prenant pas ar exemple :

    b = a[0,:] 
    
    
Modifier le contenu de `b` et regarder l'effet sur `a`. Puis modifier `a` et regarder l'effet sur `b`

Exemple de ce qui est attendu :

    a= [[6 3 8 1]
     [3 9 4 4]
     [9 5 4 5]
     [4 2 9 8]] 
     b= [6 3 8 1]
    Après modification de la case 0,3 de a (mise à -1) et la case 0,0 de b (mise à 0)     on obtient :
    a= [[ 0  3  8 -1]
     [ 3  9  4  4]
     [ 9  5  4  5]
     [ 4  2  9  8]] 
     b= [ 0  3  8 -1]

In [35]:
# à compléter
a=np.random.randint(1,10,size=(4,4))
display(a)
b = a[0, :]
display(b)
b[3] = -1
b[3] = -1
display(a)
a[0, 0] = 0
display(b)

array([[4, 4, 2, 1],
       [7, 1, 7, 1],
       [9, 5, 4, 1],
       [7, 7, 5, 9]])

array([4, 4, 2, 1])

array([[ 4,  4,  2, -1],
       [ 7,  1,  7,  1],
       [ 9,  5,  4,  1],
       [ 7,  7,  5,  9]])

array([ 0,  4,  2, -1])

#### b) Copies
Reproduire la même expérience, mais cette fois-ci en définissant `b` comme une copie de `a` (et non plus une vue) à l'aide de la fonction copy avec l'instruction a[0,:].copy().
Comparer les résultats.

In [37]:
# à compléter

# Créer un tableau 4x4 rempli de valeurs aléatoires entières de 1 à 9 inclus
a = np.random.randint(1, 10, (4, 4))

# Afficher le tableau a
print("a =", a)

# Créer une copie b de la première ligne de a
b = a[0, :].copy()

# Afficher la copie b
print("b =", b)

# Modifier la première valeur de b et afficher a
b[3] = -1
print("Après modification de la case 0,3 de b (mise à -1), a devient :\n", a)

# Modifier la première valeur de a et afficher b
a[0, 0] = 0
print("Après modification de la case 0,0 de a (mise à 0), b devient :\n", b)

a = [[9 2 2 5]
 [6 5 5 2]
 [4 4 5 2]
 [4 2 7 1]]
b = [9 2 2 5]
Après modification de la case 0,3 de b (mise à -1), a devient :
 [[9 2 2 5]
 [6 5 5 2]
 [4 4 5 2]
 [4 2 7 1]]
Après modification de la case 0,0 de a (mise à 0), b devient :
 [ 9  2  2 -1]

### 5) Tableaux de tailles différentes

Créer un array numpy nommé `a` de taille 3x3 contenant des valeurs aléatoires entières entre 1 et 9 compris. 

Créer un second array nommé `b` de taille 1x3 également rempli de valeurs aléatoires entières entre 1 et 9 compris.

Créer un troisième array nommé `c` de taille 3x1 également rempli de valeurs aléatoires entières entre 1 et 9 compris.

In [45]:
# à compléter
a=np.random.randint(1,10,size=(3,3))
display(a)
b=np.random.randint(1,10,size=(1,3))
display(b)
c=np.random.randint(1.10,size=(3,1))
display(c)

array([[9, 1, 4],
       [6, 6, 8],
       [9, 1, 4]])

array([[7, 2, 6]])

array([[0],
       [0],
       [0]])

Ajouter la constante 5 à a, afficher le résultat :

In [46]:
# à compléter
a=a+5
display(a)

array([[14,  6,  9],
       [11, 11, 13],
       [14,  6,  9]])

Calculer (a+b). Que représente ce calcul?

Calculer (a+c). Que représente ce calcul?

Afficher b.T

En déduire une façon d'ajouter b à chaque colonne de a

In [55]:
# à compléter
cal1=a+b
display(cal1)
cal2=a+c
display(cal2)
print( b.T)
resultat = a + b.T
print(resultat)

array([[21,  8, 15],
       [18, 13, 19],
       [21,  8, 15]])

array([[14,  6,  9],
       [11, 11, 13],
       [14,  6,  9]])

[[7]
 [2]
 [6]]
[[21 13 16]
 [13 13 15]
 [20 12 15]]

Calculer la somme b+c, afficher le résultat et le commenter.

In [56]:
# à compléter
resu=b+c
display(resu)

array([[7, 2, 6],
       [7, 2, 6],
       [7, 2, 6]])